

.body-estimate {
    width: 100%;
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2px;
    padding-right: 5px;
}


.menu-header-estimate{
    background-color : #b5bbc8;
    border-top: 3px solid #8aa4af;
    border-right: 1px solid #8aa4af;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.treeview {
    cursor: pointer;
    padding: 10px;
}

    .treeview:hover {
        background-color: #ccc;
    }

.wrap-treeview {
    margin-top: 10px;
}

.left_menu {
    margin-top: 110px;
    position: absolute;
    background-color: #f1f1f1 !important;
    /*padding-top: 50px;*/
    height: 1233px;
    width: 250px;
    z-index: 1000;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}

.active_leftmenu {
    width: 0px !important;
}

.active_contentwrapper {
    margin-left: 10px !important;
}

.content-wrapper {
    min-height: 1000px;
    margin-left: 250px;
    background-color: white;
    margin-top: -15px;
}

.content_wrap_page {
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-color: #ddd;
    border-width: 0px 1px 1px 1px;
    background-color: white;
}

