
<div class="row" ng-controller="General" ng-init="start=0;end=10;">
    <h2 style="text-align:center">BẢNG TỔNG HỢP DỰ TOÁN HẠNG MỤC</h2>
    <h4 ng-repeat="item in tencongtrinh" style="text-align:center">Tên công trình:{{item.name}}</h4>
    <h4 ng-repeat="item in tenhangmuc" style="text-align:center">Tên hạng mục:{{item.name}}</h4>
    <table class="table table-bordered" style="width:1000px">

        <tr>
            <th>STT</th>
            <th>Nội dung chi phí</th>
            <th>Cách tính</th>
            <th>Giá trị</th>
            <th>Kí hiệu</th>
        </tr>
        <tr>
            <td>I</td>
            <td>Chi phí trực tiếp</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Chi phí vật liệu</td>
            <td>VLG+CLVL</td>
            <td></td>
            <td>VL</td>
        </tr>
        <tr>
            <td></td>
            <td>Đơn giá vật liệu gốc</td>
            <td>Theo bảng tính toán đo bóc khối lượng công trình</td>
            <td></td>
            <td>NCG</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Chi phí nhân công</td>
            <td>BNC</td>
            <td></td>
            <td>NC</td>
        </tr>
        <tr>
            <td></td>
            <td>Đơn giá nhân công gốc</td>
            <td>Theo bảng tính toán đo bóc khối lượng công trình</td>
            <td></td>
            <td>NCG</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Chi phí máy thi công</td>
            <td>BM</td>
            <td></td>
            <td>M</td>
        </tr>
        <tr>
            <td></td>
            <td>Đơn giá mày thi công gốc</td>
            <td>Theo bảng tính đo bóc khối lượng công trình</td>
            <td></td>
            <td>MG</td>
        </tr>
        <tr>
            <td></td>
            <td>Chi phí trực tiếp</td>
            <td>VL+C+M</td>
            <td></td>
            <td>T</td>
        </tr>
        <tr>
            <td></td>
            <td>Tổng cộng</td>
            <td>Gxd</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Làm tròn</td>
            <td ng-repeat="item in total">{{item.total}}</td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>