@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header"></section>

<section class="content">
    <div class="row col-sm-12" style="margin-top:50px">
        <div class="col-sm-8">
            <h2>CES có thể làm được gì?</h2>
            <p>
                Dự toán chi phí xây dựng của công trình cụ thể và lưu dữ liệu thu được
                lên tài khoản dropbox của người dùng
            </p>
            <p>
                <a id="" class="btn btn-default btn-lg" href="/HangMuc/Estimate_Work">Chi tiết &raquo;</a>
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Liên hệ</h2>
            <address>
                <strong>Huỳnh Hữu Duy</strong>
                <br>95/101/9 Lê Văn Lương,
                <br>P. Tân Kiểng, Q.7 TP. Hồ Chí Minh
                <br>
            </address>
            <address>
                <label for="phone" class="control-label"><span><i class="fa fa-fw fa-phone"></i></span>:(123) 456-7890</label><br>
                <label><span class="glyphicon glyphicon-envelope"></span>:<a href="mailto:#">mr.huynhhuuduy@gmail.com</a></label>

            </address>
        </div>
    </div>
    <div class="row col-sm-12" style="margin-top:100px">
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="#">
                    <img class="img-circle img-responsive media-object" src="~/Images/ec300.jpg" alt="ec300.jpg">
                </a>
                <div class="caption">
                    <h2>Dự toán chi phí</h2>
                    <p>
                        Cho phép người dùng lựa chọn các định mức có sẵn và tạo công việc tạm tính
                        theo yêu cầu. Hệ thống sẽ tính toán chi phí cho công trình
                    </p>
                    @*<p>
                            <a class="btn btn-primary btn-xs">Chi tiết</a>
                        </p>*@
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="#">
                    <img src="~/Images/Logo/Building-Manager-Job-Description-Image.jpg" class="img-circle img-responsive media-object" />
                </a>
                <div class="caption">
                    <h2>Quản lí công trình</h2>
                    <p>
                        Cho phép người dùng xem lại công trình đã tạo cũng như xem
                        lại thông tin chi tiết của công trình
                    </p>
                    @*<p>
                            <a class="btn btn-primary btn-xs">More</a>
                        </p>*@
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="#">
                    <img src="~/Images/Logo/dropbox-logo1.png" class="img-circle img-responsive media-object" />
                </a>
                <div class="caption">
                    <h2>Lưu trữ dữ liệu lên dropbox</h2>
                    <p>
                        Kết quả thu được sẽ được lưu lên tài khoản dropbox của người dùng
                        để tiện xem lại mà không cần đăng nhập vào hệ thống
                    </p>
                    @*<p>
                            <a class="btn btn-primary btn-xs">More</a>
                        </p>*@
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /.row -->